name: run-tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        php: [8.1, 8.2, 8.3, 8.4]
        laravel: [10.*, 11.*, 12.*]
        stability: [prefer-lowest, prefer-stable]
        exclude:
          - php: 8.4
            laravel: 10.*
          - php: 8.1
            laravel: 11.*
          - php: 8.1
            laravel: 12.*
        include:
          - laravel: 10.*
            testbench: ^8.8
            phpstan: 1.*
            larastan: 2.*
          - laravel: 11.*
            testbench: ^9.1
            phpstan: 1.*
            larastan: 2.*
          - laravel: 12.*
            testbench: ^10.0
            phpstan: 2.*
            larastan: 3.*

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }} - ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Setup problem matchers
        run: |
          echo "::add-matcher::${{ runner.tool_cache }}/php.json"
          echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

      - name: Install dependencies
        run: |
          composer require --dev "orchestra/testbench:${{ matrix.testbench }}" "larastan/larastan:${{ matrix.larastan }}" "phpstan/phpstan:${{ matrix.phpstan }}" "phpstan/phpstan-deprecation-rules:${{ matrix.phpstan }}" "phpstan/phpstan-phpunit:${{ matrix.phpstan }}" --no-interaction --no-update
          composer require "laravel/framework:${{ matrix.laravel }}" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: List Installed Dependencies
        run: composer show -D

      - name: Execute tests
        run: vendor/bin/phpunit
